## Header Files

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import minimize
from datetime import datetime
import seaborn as sns
from itertools import combinations
import math
import random
from scipy.stats import skew, kurtosis
import warnings
from PowerFlowAnalysis import PowerFlow
import time
from statistics import mean


# Suppress DeprecationWarning
warnings.filterwarnings("ignore", category=DeprecationWarning)

## Feature Engineering

In [6]:
data_file_path = 'Sample_Data8.xlsx' #INPUT
dist_file_path = 'Distance2.xlsx' #READY
ratings_file_path = 'Ratings.xlsx' #READY
line_data_path = 'Linedata2.csv' #READY
distdf = pd.read_excel(dist_file_path)
ratings_df = pd.read_excel(ratings_file_path)
line_data_df = pd.read_csv(line_data_path)
df = pd.read_excel(data_file_path)
df

,Period (Hr),Prosumer_Id,Solar,Storage,Total (Units),Load Forecast (Units),Unit Price,Profit_pref,Rating_pref,Solar Panel Rating,DSM
0,1,2,0.1000,0.800000,0.900000,0.5755,9,0.3,0.7,2,0.894151
1,1,3,0.1050,0.200000,0.305000,0.4240,8,0.8,0.2,2,0.984550
2,1,4,0.0000,0.000000,0.000000,0.8620,10,0.7,0.3,3,0.734713
3,1,5,0.1800,0.450000,0.630000,0.5740,9,0.2,0.8,3,0.598530
4,1,6,0.1875,0.500000,0.687500,0.6020,9,0.2,0.8,3,0.158909
...,...,...,...,...,...,...,...,...,...,...,...
283,32,6,0.1875,0.037961,0.225461,0.2590,7,0.5,0.5,3,1.000000
284,32,7,0.0000,0.000000,0.000000,0.3770,7,0.6,0.4,5,0.000000
285,32,8,0.1875,0.078192,0.265692,0.2590,7,0.1,0.9,2,1.000000
286,32,9,0.6250,0.117808,0.742808,0.3720,7,0.2,0.8,10,1.000000
287,32,10,0.3125,0.044212,0.356712,0.3370,7,0.2,0.8,5,0.000000

In [7]:
df['Value'] = round(df['Total (Units)'] - df['Load Forecast (Units)'],3)
df['Category'] = np.where(df['Value'] < 0, 'B', np.where(df['Value'] > 0, 'S', 'B'))
df['Value'] = np.where(df['Value'] > 0, df['Value'], -1 * df['Value'])
df['Profit_pref']=round(df['Profit_pref'],1)
df['Rating_pref']=round(df['Rating_pref'],1)
df['DSM'] = round(df['DSM'],0)
df.to_csv('df.csv', index=False)
#df

## Creating Bus

In [8]:
def create_bus_data(period_data):
    
#                   0   1   2   3    4    5   6   7  8     9
#                 |Bus|Type|Vp|theta|PGi|QGi|PLi|QLi|Qmin|Qmax|
    
    bus_data = []
    
    bus_data.append({'Bus': 1, 'Type': 1, 'Vp': 1, 'theta': 0, 'PGi': 0, 'QGi': 0, 'PLi': 0, 'QLi': 0, 'Qmin': 0, 'Qmax': 0})

    for index, row in period_data.iterrows():
        if row['Category'] == 'B':
            bus_data.append({'Bus': row['Prosumer_Id'], 'Type': 3, 'Vp': 1, 'theta': 0.0, 
                             'PGi': 0, 'QGi': 0, 'PLi': row['Value']*1000*4, 'QLi': 0, 'Qmin': 0, 'Qmax': 0})
        elif row['Category'] == 'S':
            bus_data.append({'Bus': row['Prosumer_Id'], 'Type': 3, 'Vp': 1, 'theta': 0.0, 
                             'PGi': 0, 'QGi': 0, 'PLi': 0, 'QLi': 0, 'Qmin': 0, 'Qmax': 0})
            
    bus_df = pd.DataFrame(bus_data)
    
    return bus_df

In [9]:
linedata = line_data_df.to_numpy()
BMva = 1e5  # Base VA

## SDR

In [10]:
mini_price = 3.6

In [11]:
sdr_df = pd.DataFrame(columns=['Period', 'SDR'])

for period in df['Period (Hr)'].unique():
    data = df[df['Period (Hr)'] == period]

    TBP = data[data['Category'] == 'B']['Value'].sum()
    TSP = data[data['Category'] == 'S']['Value'].sum()

    sdr = TSP/TBP
    sdr_df = pd.concat([sdr_df, pd.DataFrame({'Period': [period], 'SDR': [sdr]})], ignore_index=True)

sdr_df

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\596540504.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  sdr_df = pd.concat([sdr_df, pd.DataFrame({'Period': [period], 'SDR': [sdr]})], ignore_index=True)

   Period       SDR
0       1  0.664852
1       2  0.575980
2       3  1.030671
3       4  1.000000
4       5  1.067069
5       6  1.405251
6       7  0.931452
7       8  0.998324
8       9  1.136822
9      10  1.035054
10     11  1.111892
11     12  1.226804
12     13  1.036095
13     14  0.919881
14     15  1.087866
15     16  0.976190
16     17  1.222905
17     18  1.082981
18     19  1.000549
19     20  0.787967
20     21  1.160430
21     22  1.049127
22     23  1.000000
23     24  0.997792
24     25  0.856802
25     26  1.098720
26     27  1.045507
27     28  0.982392
28     29  0.932172
29     30  1.086918
30     31  1.094023
31     32  0.810667

## Floyd-Warshall (Distance Based)

In [12]:
distdf

   ID  1   2   3   4   5   6   7   8   9  10
0   1  0   2   0   0   0   0   0   0   0   0
1   2  2   0   8  12   0  16   0   0   0   0
2   3  0   8   0   0   0   0   0   0   0  22
3   4  0  12   0   0  10   0   0   0   0   0
4   5  0   0   0  10   0   0   0   0   0   4
5   6  0  16   0   0   0   0  14   0   0   0
6   7  0   0   0   0   0  14   0  18  20   0
7   8  0   0   0   0   0   0  18   0   0   6
8   9  0   0   0   0   0   0  20   0   0   0
9  10  0   0  22   0   4   0   0   6   0   0

In [13]:
transaction_df = pd.DataFrame(columns=['Period', 'Seller', 'Buyer', 'Units', 'Unit Price','Savings','Loss'])

In [14]:
def floyd_warshall(graph):
    num_nodes = len(graph)
    # Replace all 0 values with infinity
    graph = np.where(graph == 0, np.inf, graph)
    distance_matrix = np.array(graph, dtype=float)
    intermediate_nodes = np.zeros((num_nodes, num_nodes), dtype=int)

    # Initialize intermediate nodes matrix
    for i in range(num_nodes):
        for j in range(num_nodes):
            intermediate_nodes[i, j] = j if i != j and graph[i, j] != np.inf else -1

    # Floyd-Warshall algorithm with intermediate nodes tracking
    for k in range(num_nodes):
        for i in range(num_nodes):
            for j in range(num_nodes):
                if distance_matrix[i, j] > distance_matrix[i, k] + distance_matrix[k, j]:
                    distance_matrix[i, j] = distance_matrix[i, k] + distance_matrix[k, j]
                    intermediate_nodes[i, j] = intermediate_nodes[i, k]

    np.fill_diagonal(distance_matrix, np.inf)

    return distance_matrix, intermediate_nodes

distdf.set_index('ID', inplace=True)


distance_matrix, intermediate_nodes = floyd_warshall(distdf.values)
short_dist_df = pd.DataFrame(distance_matrix, columns=distdf.columns, index=distdf.index)

print("Shortest Distance Matrix:")
short_dist_df

Shortest Distance Matrix:

       1     2     3     4     5     6     7     8     9    10
ID
1    inf   2.0  10.0  14.0  24.0  18.0  32.0  34.0  52.0  28.0
2    2.0   inf   8.0  12.0  22.0  16.0  30.0  32.0  50.0  26.0
3   10.0   8.0   inf  20.0  26.0  24.0  38.0  28.0  58.0  22.0
4   14.0  12.0  20.0   inf  10.0  28.0  38.0  20.0  58.0  14.0
5   24.0  22.0  26.0  10.0   inf  38.0  28.0  10.0  48.0   4.0
6   18.0  16.0  24.0  28.0  38.0   inf  14.0  32.0  34.0  38.0
7   32.0  30.0  38.0  38.0  28.0  14.0   inf  18.0  20.0  24.0
8   34.0  32.0  28.0  20.0  10.0  32.0  18.0   inf  38.0   6.0
9   52.0  50.0  58.0  58.0  48.0  34.0  20.0  38.0   inf  44.0
10  28.0  26.0  22.0  14.0   4.0  38.0  24.0   6.0  44.0   inf

In [15]:
start_node = 1
end_node = 9
route = [str(start_node)] 
current_node = start_node

while current_node != end_node:
    next_node = intermediate_nodes[current_node-1, end_node-1] 
    if next_node == -1:
        print(f"No route from {start_node} to {end_node}")
        break
    route.append(str(next_node + 1)) 
    current_node = next_node + 1 

print(f"Shortest Route from {start_node} to {end_node}: {' -> '.join(route)}")

Shortest Route from 1 to 9: 1 -> 2 -> 6 -> 7 -> 9

# Algorithm

In [16]:
iter_sharpe = []

In [17]:
data = []
columns = ['Period', 'V', 'Del', 'Lij', 'Spij', 'Pij', 'Qij', 'Pg', 'Qg', 'Pi','Qi','Iij','Pl']

In [18]:
def calculate_sdr_price(sdr, buyer_UBP):
    maxi_price = buyer_UBP
    mid_value = (maxi_price + mini_price) / 2
    b = 1 / maxi_price
    a = 1 / mid_value - b
    return round(1 / (a * sdr + b), 2)

def calculate_trading_price(sdr_price, rating_buyer, rating_seller, buyer_rating_pref, buyer_profit_pref, seller_rating_pref, seller_profit_pref, trading_units, buyer_UBP,p):
    price_buyer = sdr_price*(1 +  p[0] * (rating_seller * buyer_rating_pref -  buyer_profit_pref)) 
    price_seller = sdr_price*(1 - p[0] * (rating_buyer * seller_rating_pref - seller_profit_pref))
    trading_price = round((price_buyer + price_seller) / 2, 2)
    trading_price = (mini_price + 0.01) if trading_price < mini_price else trading_price
    trading_price = (buyer_UBP - 0.01) if trading_price > buyer_UBP else trading_price
    return trading_price

def calculate_utilities(trading_unit, buyer_UBP, trading_price, rating_buyer, rating_seller, buyer_rating_pref,
                        buyer_profit_pref, seller_rating_pref, seller_profit_pref, seller_dsm, buyer,seller, dist_factor, bpm,spm):
    buyer_profit = round(trading_unit * (buyer_UBP - trading_price),3)
    seller_profit = round(trading_unit * (trading_price - mini_price),3)
    
    m = (bpm+spm)/2
    
    buyer_util_profit = round(buyer_profit_pref * (buyer_UBP - trading_price), 3)
    buyer_util_rating = round(m * buyer_rating_pref * rating_seller, 3)
    
    seller_util_profit = round(seller_profit_pref * (trading_price - mini_price), 3)
    seller_util_rating = round(m * rating_buyer * seller_rating_pref , 3)
    
    dist_factor = round(dist_factor.loc[buyer,seller],3)
    buyer_utility = round(buyer_util_profit + buyer_util_rating -  dist_factor,3)
    seller_utility = round(seller_util_profit + seller_util_rating -  dist_factor,3)
    
    return buyer_utility, seller_utility, buyer_profit, seller_profit

def create_transaction_df(period, seller, buyer, sdr_price, trading_price, trading_units, seller_profit,
                          buyer_profit, seller_utility, buyer_utility, max_utility):
    return pd.DataFrame({
        'Period': [period],
        'Seller': [seller],
        'Buyer': [buyer],
        'SDR Price': [sdr_price],
        'Trading Price': [trading_price],
        'Trading Energy': [trading_units],
        'Seller Profit': [seller_profit],
        'Buyer Profit': [buyer_profit],
        'Seller Utility': [seller_utility],
        'Buyer Utility': [buyer_utility],
        'Total_Utility': [max_utility]
    })
import pandas as pd

def DistanceFactor(period_data):
    buyers = period_data[period_data['Category'] == 'B']
    sellers = period_data[period_data['Category'] == 'S']

    distance_factors = pd.DataFrame(index=buyers['Prosumer_Id'], columns=sellers['Prosumer_Id'])

    total_shortest_distance = {}
    for seller in sellers['Prosumer_Id']:
        total_shortest_distance[seller] = 0
        for buyer in buyers['Prosumer_Id']:
            total_shortest_distance[seller] += short_dist_df.loc[buyer, seller]

    for buyer in buyers['Prosumer_Id']:
        for seller in sellers['Prosumer_Id']:
            shortest_cumulative_distance = short_dist_df.loc[buyer, seller]
            distance_factors.loc[buyer, seller] = shortest_cumulative_distance / total_shortest_distance[seller]

    return distance_factors

In [19]:
def calculate_utility_matrix_for_period(df, ratings_df, rejected, period,p,bpm, spm):
    total_utilities_df = pd.DataFrame(columns=['Period', 'Seller', 'Buyer', 'Buyer Utility',
                                               'Seller Utility', 'Trading price', 'Trading unit', 'UBP',
                                               'Total_Utility', 'Energy Loss'])
    
    period_data = df[df['Period (Hr)'] == period]
    sdr = sdr_df.loc[sdr_df['Period'] == period, 'SDR'].values[0]
    buyer_data = period_data[period_data['Category'] == 'B']
    seller_data = period_data[period_data['Category'] == 'S']
    distance_factor = DistanceFactor(period_data)
    
    buyer_profit_list = []
    seller_profit_list = []

    for _, row_buyer in buyer_data.iterrows():
        buyer = row_buyer['Prosumer_Id']
        buyer_UBP = row_buyer['Unit Price']
        sdr_price = calculate_sdr_price(sdr, buyer_UBP)
        
        for _, row_seller in seller_data.iterrows():
            seller = row_seller['Prosumer_Id']
            rating_buyer = ratings_df.loc[ratings_df['ID'] == buyer, 'Ratings'].values[0]
            rating_seller = ratings_df.loc[ratings_df['ID'] == seller, 'Ratings_avg'].values[0]
            buyer_profit_pref = buyer_data.loc[buyer_data['Prosumer_Id'] == buyer, 'Profit_pref'].values[0]
            buyer_rating_pref = buyer_data.loc[buyer_data['Prosumer_Id'] == buyer, 'Rating_pref'].values[0]
            seller_rating_pref = seller_data.loc[seller_data['Prosumer_Id'] == seller, 'Rating_pref'].values[0]
            seller_profit_pref = seller_data.loc[seller_data['Prosumer_Id'] == seller, 'Profit_pref'].values[0]
            seller_dsm = seller_data.loc[seller_data['Prosumer_Id'] == seller, 'DSM'].values[0]

            trading_unit = round(min(row_buyer['Value'], row_seller['Value']), 3)
            trading_price = calculate_trading_price(sdr_price, rating_buyer, rating_seller, buyer_rating_pref,
                                                    buyer_profit_pref, seller_rating_pref, seller_profit_pref, trading_unit, buyer_UBP,p)
            
            
            buyer_utility, seller_utility, buyer_profit, seller_profit = calculate_utilities(trading_unit, buyer_UBP, trading_price, rating_buyer, rating_seller, buyer_rating_pref,
                        buyer_profit_pref, seller_rating_pref, seller_profit_pref, seller_dsm, buyer, seller, distance_factor,bpm, spm)
            
            if (trading_unit == 0) or ((buyer,seller) in rejected):
                buyer_utility = 0
                seller_utility = 0
                
            buyer_profit_list.append(buyer_profit/trading_unit*buyer_profit_pref)
            seller_profit_list.append(seller_profit/trading_unit*seller_profit_pref)
            
            total_utility = round(buyer_utility * seller_utility, 6)
            

            new_row = create_transaction_df(period, seller, buyer, sdr_price, trading_price, trading_unit,
                                            seller_profit, buyer_profit, seller_utility, buyer_utility, total_utility)
                
            total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

    utility_matrix = total_utilities_df.pivot_table(index='Seller', columns='Buyer', values='Total_Utility', fill_value=0)
    return utility_matrix, total_utilities_df, mean(buyer_profit_list), mean(seller_profit_list)

def make_transactions_with_priority(df, ratings_df, price_df):
    total_utilities_list = []

    for period in df['Period (Hr)'].unique():
        
        p= [0.4]
        
        limits = np.array([
       [0, 11000, 4000, 3000, 2000, 1000, 1000, 800, 800, 800], #0
        [5000, 0, 4000, 4000, 2000, 3500, 1000, 1000, 800, 500], #1
        [4000, 22, 0, 3000, 2000, 1000, 1000, 900, 800, 1800], #2
        [31, 32, 33, 0, 2500, 1000, 1000, 1000, 800, 800], #3
        [41, 42, 0, 44, 0, 1000, 1000, 1000, 800, 2500], #4
        [51, 52, 0, 54, 55, 0, 2000, 1000, 800, 800], #5
        [61, 62, 63, 0, 65, 66,0, 1500, 2500, 1000], #6
        [71, 72, 73, 74, 75, 76, 77, 0, 800, 2500], #7
        [81, 82, 83, 84, 85, 86, 87, 88, 0,  1000], #8
        [91, 92, 93, 94, 95, 96, 97, 98, 99, 0]
        ])
        rejected = []
        busdata = create_bus_data(df[df['Period (Hr)']==period])
        
        sdr = sdr_df.loc[sdr_df['Period'] == period, 'SDR'].values[0]
        utility_matrix, total_utilities_df, bpm, spm = calculate_utility_matrix_for_period(df, ratings_df, rejected, period,p,3,3)
        utility_matrix, total_utilities_df, _b, _s = calculate_utility_matrix_for_period(df, ratings_df, rejected, period,p,bpm,spm)
        period_data = df[df['Period (Hr)'] == period].copy()
        buyer_data = period_data[period_data['Category'] == 'B']
        
        seller_data = period_data[period_data['Category'] == 'S']
        distance_factor = DistanceFactor(period_data)
        
        #TRANSACTION
        
        while True:
            max_utility = utility_matrix.values.max()
            if max_utility <= 0:
                break
                
            seller, buyer = np.unravel_index(np.argmax(utility_matrix.values), utility_matrix.shape)
            seller, buyer = utility_matrix.index[seller], utility_matrix.columns[buyer]

            buyer_UBP = buyer_data.loc[buyer_data['Prosumer_Id'] == buyer, 'Unit Price'].values[0]
            sdr_price = calculate_sdr_price(sdr, buyer_UBP)
                
                
            rating_buyer = ratings_df.loc[ratings_df['ID'] == buyer, 'Ratings'].values[0]
            rating_seller = ratings_df.loc[ratings_df['ID'] == seller, 'Ratings_avg'].values[0]
            buyer_profit_pref = buyer_data.loc[buyer_data['Prosumer_Id'] == buyer, 'Profit_pref'].values[0]
            buyer_rating_pref = buyer_data.loc[buyer_data['Prosumer_Id'] == buyer, 'Rating_pref'].values[0]
            seller_rating_pref = seller_data.loc[seller_data['Prosumer_Id'] == seller, 'Rating_pref'].values[0]
            seller_profit_pref = seller_data.loc[seller_data['Prosumer_Id'] == seller, 'Profit_pref'].values[0]
            seller_dsm = seller_data.loc[seller_data['Prosumer_Id'] == seller, 'DSM'].values[0]
            
            row_buyer = period_data[period_data['Prosumer_Id'] == buyer]
            row_seller = period_data[period_data['Prosumer_Id'] == seller]
            
            trading_units = round(min(row_buyer['Value'].values[0], row_seller['Value'].values[0]), 3)
            trading_price = calculate_trading_price(sdr_price, rating_buyer, rating_seller, buyer_rating_pref,
                                                    buyer_profit_pref, seller_rating_pref, seller_profit_pref, trading_units, buyer_UBP,p)
        
            buyer_utility, seller_utility, buyer_profit, seller_profit = calculate_utilities(trading_units, buyer_UBP, trading_price, rating_buyer, rating_seller, buyer_rating_pref,
                        buyer_profit_pref, seller_rating_pref, seller_profit_pref, seller_dsm, buyer, seller, distance_factor,bpm,spm)
            
            if (trading_units == 0) or ((buyer,seller) in rejected):
                buyer_utility = 0
                seller_utility = 0

            total_utility = round(buyer_utility * seller_utility, 6)
            
            if (buyer,seller) in rejected:
                continue
                
            if trading_units <= 0:
                utility_matrix[buyer] = 0
                utility_matrix.loc[seller] = 0
                continue
                
            
            period_data.loc[period_data['Prosumer_Id'] == seller, 'Value'] -= trading_units
            period_data.loc[period_data['Prosumer_Id'] == buyer, 'Value'] -= trading_units
            
            
            #POWER FLOW
            busdata.loc[busdata['Bus']==seller, 'Type'] = 2
            busdata.loc[busdata['Bus']==seller, 'PGi'] += (trading_units*1000*4)
            busdata_array = busdata.to_numpy()
            power_flow = PowerFlow(busdata_array, linedata) 
            V, Del, Iter, check = power_flow.loadflow(busdata_array[:, 2], busdata_array[:, 3], BMva)
            Lij,Sij,Pij,Qij,Pg,Qg, Pi, Qi, Iij, Pl = power_flow.powerflow(V, np.deg2rad(Del), BMva)
            flag = False
            
            #LIMITS CHECKING
            for i in range(10):
                for j in range(10):
                    if( (i<j) and (limits[i][j] - max(np.abs(Pij[i][j]),np.abs(Pij[j][i])) < 0) or (check == False)):
                        rejected.append((buyer,seller))
                        utility_matrix.loc[seller, buyer] = 0
                        period_data.loc[period_data['Prosumer_Id'] == seller, 'Value'] += trading_units
                        period_data.loc[period_data['Prosumer_Id'] == buyer, 'Value'] += trading_units
                        
                        busdata.loc[busdata['Bus']==seller, 'PGi'] -= (trading_units*1000*4)
                        if busdata.loc[busdata['Bus'] == seller, 'PGi'].values[0] == 0:
                            busdata.loc[busdata['Bus'] == seller, 'Type'] = 3
                            
                        flag = True
                        
                        print(f"Period: {period}, Rejecting Transaction: {buyer}, {seller}, Line Limit: {limits[i][j]}, Line: {i} -> {j}, Current Power Flow ({i}->{j}): {np.abs(Pij[i][j])},  Total Utility {max_utility},  Trading Units {trading_units} ")
                        break
                        
                if flag:
                    break
                        
            if flag:
                continue
                        
            print(f"Period: {period}, Transaction Approved: {buyer}, {seller}")

            
            data.append([period, V, Del, Lij, Sij, Pij, Qij, Pg, Qg, Pi, Qi, Iij, Pl])
            
            if (period_data.loc[period_data['Prosumer_Id'] == seller, 'Value'].values[0] == 0):
                utility_matrix.loc[seller] = 0
            else:
                utility_matrix[buyer] = 0
            
            total_utilities_list.append(create_transaction_df(period, seller, buyer, sdr_price, trading_price,
                                                              trading_units, seller_profit, buyer_profit, seller_utility,
                                                              buyer_utility, max_utility))

            print(f"Transaction: Period {period}, Buyer: {buyer}, Seller: {seller}, Total Utility {max_utility}, Trading Units {trading_units}, Price {trading_price}")

            
            
        # SURPLUS TO GRID
        seller_data = period_data[period_data['Category'] == 'S']
        for _, row_seller in seller_data.iterrows():
            
            if round(row_seller['Value'],3)>0:
                
                seller = row_seller['Prosumer_Id']
                trading_units = round(row_seller['Value'],3)
                
                
                #POWER FLOW
                busdata.loc[busdata['Bus']==seller, 'Type'] = 2
                busdata.loc[busdata['Bus']==seller, 'PGi'] += (trading_units*1000*4)
                busdata_array = busdata.to_numpy()
                power_flow = PowerFlow(busdata_array, linedata) 
                V, Del, Iter, check = power_flow.loadflow(busdata_array[:, 2], busdata_array[:, 3], BMva)
                Lij,Sij,Pij,Qij,Pg,Qg, Pi, Qi, Iij, Pl = power_flow.powerflow(V, np.deg2rad(Del), BMva)
                
                
                for i in range(10):
                    for j in range(10):
                        if((i<j) and (limits[i][j] - max(np.abs(Pij[i][j]),np.abs(Pij[j][i])) < 0) or (check == False)):
                            rejected.append((buyer,seller))
                            utility_matrix.loc[seller, buyer] = 0
                            busdata.loc[busdata['Bus']==seller, 'PGi'] -= (trading_units*1000*4)
                            if busdata.loc[busdata['Bus'] == seller, 'PGi'].values[0] == 0:
                                busdata.loc[busdata['Bus'] == seller, 'Type'] = 3

                            flag = True
                            print(f"Period: {period}, Rejecting Transaction: 1, {seller}, Line Limit: {limits[i][j]}, Line: {i} -> {j}, Current Power Flow ({i}->{j}): {np.abs(Pij[i][j])}  Total Utility {max_utility},  Trading Units {trading_units}")
                            break
                        
                    if flag:
                        break
                     
                if flag:
                    continue
                      
                
                data.append([period, V, Del, Lij, Sij, Pij, Qij, Pg, Qg, Pi, Qi, Iij, Pl])
                total_utilities_list.append(create_transaction_df(period, seller, 1, mini_price, mini_price,
                                                              trading_units, 0, 0, 0,
                                                              0, 0))
                print(f"Transaction: Period {period},Buyer: 1, Seller: {seller}, Total Utility {max_utility}, Trading Units {trading_units}, Price{mini_price}")
                
                
                
                
        #GRID TO DEMAND
        buyer_data = period_data[period_data['Category'] == 'B']
        for _, row_buyer in buyer_data.iterrows():
            
            if round(row_buyer['Value'],3)>0:
                buyer = row_buyer['Prosumer_Id']
                trading_units = round(row_buyer['Value'],3)
                UBP = row_buyer['Unit Price']
                total_utilities_list.append(create_transaction_df(period, 1, buyer, UBP, UBP,
                                                              trading_units, 0, 0, 0,
                                                              0, 0))
            
    total_utilities_df = pd.concat(total_utilities_list, ignore_index=True)
    return total_utilities_df


start_time = time.time()
result_transactions = make_transactions_with_priority(df, ratings_df, sdr_df)
end_time = time.time()

elapsed_time = end_time - start_time
print(f"Elapsed time: {elapsed_time} seconds")

# GRID power flow increase - 1000 watts, 1200 - limit
# trading power flow decrease

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 1, Transaction Approved: 4, 8
Transaction: Period 1, Buyer: 4, Seller: 8, Total Utility 5.124612, Trading Units 0.084, Price 7.86
Period: 1, Transaction Approved: 4, 5
Transaction: Period 1, Buyer: 4, Seller: 5, Total Utility 3.974278, Trading Units 0.056, Price 6.26
Period: 1, Transaction Approved: 4, 2
Transaction: Period 1, Buyer: 4, Seller: 2, Total Utility 3.927316, Trading Units 0.324, Price 6.52
Period: 1, Transaction Approved: 4, 10
Transaction: Period 1, Buyer: 4, Seller: 10, Total Utility 3.903552, Trading Units 0.013, Price 6.47
Period: 1, Transaction Approved: 4, 9
Transaction: Period 1, Buyer: 4, Seller: 9, Total Utility 3.74319, Trading Units 0.385, Price 6.96
Period: 1, Transaction Approved: 7, 9
Transaction: Period 1, Buyer: 7, Seller: 9, Total Utility 2.586218, Trading Units 0.151, Price 7.07
Transaction: Period 1,Buyer: 1, Seller: 6, Total Utility 0, Trading Units 0.086, Price 5.73

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 2, Transaction Approved: 10, 8
Transaction: Period 2, Buyer: 10, Seller: 8, Total Utility 3.453177, Trading Units 0.056, Price 6.68
Period: 2, Transaction Approved: 4, 5
Transaction: Period 2, Buyer: 4, Seller: 5, Total Utility 1.76514, Trading Units 0.214, Price 4.4
Period: 2, Transaction Approved: 4, 2
Transaction: Period 2, Buyer: 4, Seller: 2, Total Utility 1.577723, Trading Units 0.073, Price 4.83
Period: 2, Transaction Approved: 6, 2
Transaction: Period 2, Buyer: 6, Seller: 2, Total Utility 1.567908, Trading Units 0.139, Price 8.5
Period: 2, Transaction Approved: 6, 9
Transaction: Period 2, Buyer: 6, Seller: 9, Total Utility 1.53573, Trading Units 0.164, Price 8.44
Period: 2, Transaction Approved: 6, 8
Transaction: Period 2, Buyer: 6, Seller: 8, Total Utility 1.500687, Trading Units 0.059, Price 8.81

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 3, Transaction Approved: 6, 2
Transaction: Period 3, Buyer: 6, Seller: 2, Total Utility 5.34933, Trading Units 0.274, Price 8.56
Period: 3, Transaction Approved: 5, 3
Transaction: Period 3, Buyer: 5, Seller: 3, Total Utility 4.522881, Trading Units 0.146, Price 6.39
Period: 3, Transaction Approved: 8, 3
Transaction: Period 3, Buyer: 8, Seller: 3, Total Utility 3.976264, Trading Units 0.271, Price 6.65
Period: 3, Transaction Approved: 8, 9
Transaction: Period 3, Buyer: 8, Seller: 9, Total Utility 3.686532, Trading Units 0.093, Price 6.41
Period: 3, Transaction Approved: 6, 9
Transaction: Period 3, Buyer: 6, Seller: 9, Total Utility 3.160079, Trading Units 0.092, Price 7.86
Period: 3, Transaction Approved: 4, 10
Transaction: Period 3, Buyer: 4, Seller: 10, Total Utility 1.693275, Trading Units 0.286, Price 4.65
Period: 3, Transaction Approved: 7, 9
Transaction: Period 3, Buyer: 7, Seller: 9, Total Utility 1.593509, Trading Units 0.342, Price 5.99
Period: 3, Transaction Approved: 4, 9
Transaction: Period 3, Buyer: 4, Seller: 9, Total Utility 1.326117, Trading Units 0.061, Price 5.54
Period: 3, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2535.706073347514  Total Utility 0,  Trading Units 0.048

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 4, Transaction Approved: 8, 10
Transaction: Period 4, Buyer: 8, Seller: 10, Total Utility 4.892103, Trading Units 0.09, Price 5.64
Period: 4, Transaction Approved: 5, 2
Transaction: Period 4, Buyer: 5, Seller: 2, Total Utility 3.898924, Trading Units 0.135, Price 5.79
Period: 4, Transaction Approved: 8, 3
Transaction: Period 4, Buyer: 8, Seller: 3, Total Utility 3.6176, Trading Units 0.076, Price 5.19
Period: 4, Transaction Approved: 6, 2
Transaction: Period 4, Buyer: 6, Seller: 2, Total Utility 3.433632, Trading Units 0.137, Price 7.52
Period: 4, Transaction Approved: 4, 3
Transaction: Period 4, Buyer: 4, Seller: 3, Total Utility 2.84119, Trading Units 0.25, Price 4.91
Period: 4, Transaction Approved: 4, 9
Transaction: Period 4, Buyer: 4, Seller: 9, Total Utility 2.300253, Trading Units 0.187, Price 4.68
Period: 4, Transaction Approved: 6, 9
Transaction: Period 4, Buyer: 6, Seller: 9, Total Utility 2.037646, Trading Units 0.175, Price 6.85
Period: 4, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2725.845785278853,  Total Utility 1.211232,  Trading Units 0.322

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 5, Transaction Approved: 8, 3
Transaction: Period 5, Buyer: 8, Seller: 3, Total Utility 5.046494, Trading Units 0.153, Price 5.96
Period: 5, Transaction Approved: 5, 3
Transaction: Period 5, Buyer: 5, Seller: 3, Total Utility 4.932822, Trading Units 0.139, Price 6.12
Period: 5, Transaction Approved: 6, 2
Transaction: Period 5, Buyer: 6, Seller: 2, Total Utility 4.572897, Trading Units 0.017, Price 7.79
Period: 5, Transaction Approved: 6, 3
Transaction: Period 5, Buyer: 6, Seller: 3, Total Utility 4.173705, Trading Units 0.108, Price 7.82
Period: 5, Transaction Approved: 7, 9
Transaction: Period 5, Buyer: 7, Seller: 9, Total Utility 1.358712, Trading Units 0.352, Price 5.96
Period: 5, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3489.7100468132853  Total Utility 0,  Trading Units 0.524

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 6, Transaction Approved: 6, 5
Transaction: Period 6, Buyer: 6, Seller: 5, Total Utility 3.82278, Trading Units 0.203, Price 6.81
Period: 6, Transaction Approved: 8, 5
Transaction: Period 6, Buyer: 8, Seller: 5, Total Utility 3.162279, Trading Units 0.112, Price 6.98
Period: 6, Transaction Approved: 7, 5
Transaction: Period 6, Buyer: 7, Seller: 5, Total Utility 2.560012, Trading Units 0.391, Price 6.81
Transaction: Period 6,Buyer: 1, Seller: 2, Total Utility 0, Trading Units 0.334, Price 6.26
Transaction: Period 6,Buyer: 1, Seller: 3, Total Utility 0, Trading Units 0.782, Price 6.26
Transaction: Period 6,Buyer: 1, Seller: 9, Total Utility 0, Trading Units 0.624, Price 6.26
Transaction: Period 6,Buyer: 1, Seller: 10, Total Utility 0, Trading Units 0.016, Price 6.26

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 7, Transaction Approved: 5, 10
Transaction: Period 7, Buyer: 5, Seller: 10, Total Utility 7.751772, Trading Units 0.273, Price 8.79
Period: 7, Transaction Approved: 6, 3
Transaction: Period 7, Buyer: 6, Seller: 3, Total Utility 5.599984, Trading Units 0.097, Price 6.53
Period: 7, Transaction Approved: 5, 3
Transaction: Period 7, Buyer: 5, Seller: 3, Total Utility 5.227854, Trading Units 0.281, Price 7.83
Period: 7, Transaction Approved: 2, 3
Transaction: Period 7, Buyer: 2, Seller: 3, Total Utility 3.89961, Trading Units 0.146, Price 7.78
Period: 7, Transaction Approved: 4, 9
Transaction: Period 7, Buyer: 4, Seller: 9, Total Utility 2.810324, Trading Units 0.362, Price 3.77
Period: 7, Transaction Approved: 8, 3
Transaction: Period 7, Buyer: 8, Seller: 3, Total Utility 2.7777, Trading Units 0.09, Price 7.06
Period: 7, Transaction Approved: 8, 9
Transaction: Period 7, Buyer: 8, Seller: 9, Total Utility 1.75276, Trading Units 0.08, Price 5.89
Period: 7, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2908.0547133136597,  Total Utility 1.410981,  Trading Units 0.288

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 8, Transaction Approved: 2, 3
Transaction: Period 8, Buyer: 2, Seller: 3, Total Utility 4.713124, Trading Units 0.036, Price 6.92
Period: 8, Transaction Approved: 2, 5
Transaction: Period 8, Buyer: 2, Seller: 5, Total Utility 3.330609, Trading Units 0.132, Price 6.33
Period: 8, Transaction Approved: 8, 5
Transaction: Period 8, Buyer: 8, Seller: 5, Total Utility 3.237896, Trading Units 0.036, Price 7.14
Period: 8, Transaction Approved: 7, 6
Transaction: Period 8, Buyer: 7, Seller: 6, Total Utility 2.175, Trading Units 0.218, Price 5.46
Period: 8, Transaction Approved: 7, 9
Transaction: Period 8, Buyer: 7, Seller: 9, Total Utility 1.67118, Trading Units 0.204, Price 4.76
Transaction: Period 8,Buyer: 1, Seller: 9, Total Utility 0, Trading Units 0.372, Price 4.76
Transaction: Period 8,Buyer: 1, Seller: 10, Total Utility 0, Trading Units 0.193, Price 4.76

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 9, Rejecting Transaction: 7, 6, Line Limit: 2000, Line: 5 -> 6, Current Power Flow (5->6): 2058.7735856530026,  Total Utility 5.516481,  Trading Units 0.163
Period: 9, Transaction Approved: 4, 5
Transaction: Period 9, Buyer: 4, Seller: 5, Total Utility 5.4994, Trading Units 0.126, Price 7.56
Period: 9, Transaction Approved: 4, 10
Transaction: Period 9, Buyer: 4, Seller: 10, Total Utility 5.120779, Trading Units 0.431, Price 7.67
Period: 9, Rejecting Transaction: 7, 8, Line Limit: 1500, Line: 6 -> 7, Current Power Flow (6->7): 1824.9712524545826,  Total Utility 4.588441,  Trading Units 0.427
Period: 9, Rejecting Transaction: 4, 8, Line Limit: 1500, Line: 6 -> 7, Current Power Flow (6->7): 1589.800062414508,  Total Utility 4.317456,  Trading Units 0.19
Period: 9, Transaction Approved: 2, 6
Transaction: Period 9, Buyer: 2, Seller: 6, Total Utility 4.056856, Trading Units 0.133, Price 6.79
Period: 9, Transaction Approved: 4, 6
Transaction: Period 9, Buyer: 4, Seller: 6, Total Utility 3.774204, Trading Units 0.03, Price 7.73
Period: 9, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2613.6472703923514,  Total Utility 3.530935,  Trading Units 0.656
Period: 9, Transaction Approved: 4, 9
Transaction: Period 9, Buyer: 4, Seller: 9, Total Utility 2.439483, Trading Units 0.16, Price 6.33
Period: 9, Transaction Approved: 3, 8
Transaction: Period 9, Buyer: 3, Seller: 8, Total Utility 2.40592, Trading Units 0.024, Price 6.0
Transaction: Period 9,Buyer: 1, Seller: 8, Total Utility 0.0, Trading Units 0.403, Price 6.0
Period: 9, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 3011.540558374783  Total Utility 0.0,  Trading Units 0.496

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 10, Transaction Approved: 4, 5
Transaction: Period 10, Buyer: 4, Seller: 5, Total Utility 8.723814, Trading Units 0.011, Price 6.73
Period: 10, Transaction Approved: 4, 3
Transaction: Period 10, Buyer: 4, Seller: 3, Total Utility 6.99683, Trading Units 0.258, Price 6.2
Period: 10, Transaction Approved: 4, 10
Transaction: Period 10, Buyer: 4, Seller: 10, Total Utility 6.799232, Trading Units 0.344, Price 5.72
Period: 10, Transaction Approved: 4, 8
Transaction: Period 10, Buyer: 4, Seller: 8, Total Utility 6.245239, Trading Units 0.134, Price 5.46
Period: 10, Transaction Approved: 6, 9
Transaction: Period 10, Buyer: 6, Seller: 9, Total Utility 3.637645, Trading Units 0.02, Price 5.04
Period: 10, Transaction Approved: 7, 8
Transaction: Period 10, Buyer: 7, Seller: 8, Total Utility 3.59094, Trading Units 0.203, Price 5.51
Period: 10, Transaction Approved: 7, 9
Transaction: Period 10, Buyer: 7, Seller: 9, Total Utility 3.5278, Trading Units 0.349, Price 5.29
Period: 10, Transaction Approved: 2, 9
Transaction: Period 10, Buyer: 2, Seller: 9, Total Utility 2.166126, Trading Units 0.25, Price 6.22
Period: 10, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2685.9911524563313  Total Utility 0,  Trading Units 0.055

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 11, Transaction Approved: 4, 8
Transaction: Period 11, Buyer: 4, Seller: 8, Total Utility 2.8776, Trading Units 0.049, Price 5.39
Period: 11, Transaction Approved: 4, 10
Transaction: Period 11, Buyer: 4, Seller: 10, Total Utility 2.483632, Trading Units 0.448, Price 4.73
Period: 11, Transaction Approved: 7, 9
Transaction: Period 11, Buyer: 7, Seller: 9, Total Utility 2.118272, Trading Units 0.507, Price 4.6
Period: 11, Rejecting Transaction: 4, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2598.7667413343634,  Total Utility 2.053896,  Trading Units 0.145
Period: 11, Rejecting Transaction: 2, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3403.0363507818283,  Total Utility 1.676736,  Trading Units 0.348
Period: 11, Transaction Approved: 5, 9
Transaction: Period 11, Buyer: 5, Seller: 9, Total Utility 1.21578, Trading Units 0.079, Price 5.37
Period: 11, Rejecting Transaction: 6, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2820.8674513964042,  Total Utility 0.522732,  Trading Units 0.122
Period: 11, Transaction Approved: 3, 9
Transaction: Period 11, Buyer: 3, Seller: 9, Total Utility 0.39879, Trading Units 0.009, Price 5.58
Period: 11, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 4 -> 9, Current Power Flow (4->9): 2646.3729252506755  Total Utility 0.0,  Trading Units 0.806

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 12, Transaction Approved: 2, 9
Transaction: Period 12, Buyer: 2, Seller: 9, Total Utility 6.092944, Trading Units 0.198, Price 6.73
Period: 12, Transaction Approved: 5, 10
Transaction: Period 12, Buyer: 5, Seller: 10, Total Utility 4.22181, Trading Units 0.011, Price 5.83
Period: 12, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2809.118938796259,  Total Utility 3.059263,  Trading Units 0.507
Period: 12, Transaction Approved: 4, 10
Transaction: Period 12, Buyer: 4, Seller: 10, Total Utility 2.389513, Trading Units 0.49, Price 6.94
Period: 12, Transaction Approved: 4, 9
Transaction: Period 12, Buyer: 4, Seller: 9, Total Utility 2.187, Trading Units 0.152, Price 7.43
Period: 12, Transaction Approved: 7, 8
Transaction: Period 12, Buyer: 7, Seller: 8, Total Utility 2.0444, Trading Units 0.12, Price 7.03
Period: 12, Transaction Approved: 7, 6
Transaction: Period 12, Buyer: 7, Seller: 6, Total Utility 1.321912, Trading Units 0.04, Price 6.5
Period: 12, Transaction Approved: 7, 3
Transaction: Period 12, Buyer: 7, Seller: 3, Total Utility 0.584328, Trading Units 0.074, Price 6.24
Period: 12, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2553.6878694709562  Total Utility 0.0,  Trading Units 0.581

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 13, Transaction Approved: 2, 5
Transaction: Period 13, Buyer: 2, Seller: 5, Total Utility 7.58988, Trading Units 0.222, Price 9.47
Period: 13, Transaction Approved: 6, 9
Transaction: Period 13, Buyer: 6, Seller: 9, Total Utility 7.105604, Trading Units 0.334, Price 6.51
Period: 13, Transaction Approved: 2, 10
Transaction: Period 13, Buyer: 2, Seller: 10, Total Utility 5.390394, Trading Units 0.306, Price 9.0
Period: 13, Transaction Approved: 2, 8
Transaction: Period 13, Buyer: 2, Seller: 8, Total Utility 4.685287, Trading Units 0.102, Price 8.93
Period: 13, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2912.45749738386,  Total Utility 2.103637,  Trading Units 0.397
Period: 13, Transaction Approved: 4, 8
Transaction: Period 13, Buyer: 4, Seller: 8, Total Utility 2.040885, Trading Units 0.032, Price 5.96
Transaction: Period 13,Buyer: 1, Seller: 3, Total Utility 0, Trading Units 0.021, Price 5.29
Period: 13, Rejecting Transaction: 1, 9, Line Limit: 2000, Line: 5 -> 6, Current Power Flow (5->6): 2500.082144510177  Total Utility 0,  Trading Units 0.734

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 14, Transaction Approved: 5, 10
Transaction: Period 14, Buyer: 5, Seller: 10, Total Utility 6.660374, Trading Units 0.078, Price 7.69
Period: 14, Transaction Approved: 2, 3
Transaction: Period 14, Buyer: 2, Seller: 3, Total Utility 6.233274, Trading Units 0.386, Price 7.89
Period: 14, Transaction Approved: 2, 10
Transaction: Period 14, Buyer: 2, Seller: 10, Total Utility 5.955114, Trading Units 0.125, Price 8.55
Period: 14, Transaction Approved: 2, 6
Transaction: Period 14, Buyer: 2, Seller: 6, Total Utility 5.486529, Trading Units 0.072, Price 7.8
Period: 14, Transaction Approved: 4, 8
Transaction: Period 14, Buyer: 4, Seller: 8, Total Utility 4.606977, Trading Units 0.141, Price 5.49
Period: 14, Transaction Approved: 4, 6
Transaction: Period 14, Buyer: 4, Seller: 6, Total Utility 4.526784, Trading Units 0.065, Price 5.71
Period: 14, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3132.566957869938,  Total Utility 4.324184,  Trading Units 0.787

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 15, Transaction Approved: 3, 8
Transaction: Period 15, Buyer: 3, Seller: 8, Total Utility 5.66654, Trading Units 0.22, Price 5.65
Period: 15, Transaction Approved: 3, 9
Transaction: Period 15, Buyer: 3, Seller: 9, Total Utility 5.126925, Trading Units 0.048, Price 5.4
Period: 15, Transaction Approved: 6, 9
Transaction: Period 15, Buyer: 6, Seller: 9, Total Utility 5.044842, Trading Units 0.216, Price 5.51
Period: 15, Transaction Approved: 10, 5
Transaction: Period 15, Buyer: 10, Seller: 5, Total Utility 4.944478, Trading Units 0.174, Price 5.9
Period: 15, Transaction Approved: 2, 5
Transaction: Period 15, Buyer: 2, Seller: 5, Total Utility 4.826722, Trading Units 0.528, Price 5.77
Period: 15, Transaction Approved: 2, 9
Transaction: Period 15, Buyer: 2, Seller: 9, Total Utility 4.710592, Trading Units 0.09, Price 5.87
Period: 15, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2892.2309601502943,  Total Utility 1.23924,  Trading Units 0.372
Period: 15, Transaction Approved: 4, 9
Transaction: Period 15, Buyer: 4, Seller: 9, Total Utility 1.07789, Trading Units 0.264, Price 5.2
Period: 15, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2749.259634479028  Total Utility 0.0,  Trading Units 0.54

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 16, Transaction Approved: 2, 9
Transaction: Period 16, Buyer: 2, Seller: 9, Total Utility 9.752524, Trading Units 0.41, Price 6.76
Period: 16, Transaction Approved: 10, 5
Transaction: Period 16, Buyer: 10, Seller: 5, Total Utility 9.564492, Trading Units 0.11, Price 6.87
Period: 16, Rejecting Transaction: 3, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3001.639516157684,  Total Utility 9.119044,  Trading Units 0.343
Period: 16, Transaction Approved: 3, 5
Transaction: Period 16, Buyer: 3, Seller: 5, Total Utility 8.668992, Trading Units 0.343, Price 6.65
Period: 16, Rejecting Transaction: 6, 9, Line Limit: 2000, Line: 5 -> 6, Current Power Flow (5->6): 2446.8667532408763,  Total Utility 7.494544,  Trading Units 0.683
Period: 16, Transaction Approved: 6, 5
Transaction: Period 16, Buyer: 6, Seller: 5, Total Utility 6.6304, Trading Units 0.242, Price 7.57
Period: 16, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2958.0907136273245,  Total Utility 2.47923,  Trading Units 0.332
Period: 16, Transaction Approved: 7, 8
Transaction: Period 16, Buyer: 7, Seller: 8, Total Utility 2.423366, Trading Units 0.332, Price 6.16
Period: 16, Rejecting Transaction: 1, 8, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2767.664770901785  Total Utility 0,  Trading Units 0.254

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 17, Transaction Approved: 3, 9
Transaction: Period 17, Buyer: 3, Seller: 9, Total Utility 8.656732, Trading Units 0.552, Price 7.01
Period: 17, Rejecting Transaction: 10, 9, Line Limit: 1500, Line: 6 -> 7, Current Power Flow (6->7): 1849.5671149046732,  Total Utility 3.41912,  Trading Units 0.512
Period: 17, Transaction Approved: 10, 5
Transaction: Period 17, Buyer: 10, Seller: 5, Total Utility 3.18345, Trading Units 0.482, Price 7.71
Period: 17, Transaction Approved: 10, 2
Transaction: Period 17, Buyer: 10, Seller: 2, Total Utility 2.490609, Trading Units 0.03, Price 7.89
Period: 17, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3775.118479716957,  Total Utility 1.907244,  Trading Units 0.397
Period: 17, Transaction Approved: 4, 2
Transaction: Period 17, Buyer: 4, Seller: 2, Total Utility 1.551096, Trading Units 0.039, Price 5.44
Period: 17, Transaction Approved: 7, 6
Transaction: Period 17, Buyer: 7, Seller: 6, Total Utility 1.114239, Trading Units 0.121, Price 4.58
Transaction: Period 17,Buyer: 1, Seller: 8, Total Utility 0, Trading Units 0.451, Price 5.01
Period: 17, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 4232.308662394669  Total Utility 0,  Trading Units 0.514

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 18, Rejecting Transaction: 8, 5, Line Limit: 2500, Line: 7 -> 9, Current Power Flow (7->9): 2715.591720623419,  Total Utility 9.398979,  Trading Units 0.28
Period: 18, Rejecting Transaction: 8, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2589.9344659904177,  Total Utility 8.485785,  Trading Units 0.649
Period: 18, Rejecting Transaction: 3, 5, Line Limit: 2500, Line: 7 -> 9, Current Power Flow (7->9): 2659.7855514183607,  Total Utility 6.991798,  Trading Units 0.204
Period: 18, Transaction Approved: 3, 9
Transaction: Period 18, Buyer: 3, Seller: 9, Total Utility 6.916182, Trading Units 0.204, Price 6.39
Period: 18, Transaction Approved: 2, 5
Transaction: Period 18, Buyer: 2, Seller: 5, Total Utility 6.716336, Trading Units 0.28, Price 6.89
Period: 18, Rejecting Transaction: 8, 10, Line Limit: 2500, Line: 7 -> 9, Current Power Flow (7->9): 2613.3814667795746,  Total Utility 6.696118,  Trading Units 0.262
Period: 18, Transaction Approved: 2, 9
Transaction: Period 18, Buyer: 2, Seller: 9, Total Utility 6.30482, Trading Units 0.003, Price 6.77
Period: 18, Transaction Approved: 8, 6
Transaction: Period 18, Buyer: 8, Seller: 6, Total Utility 4.918884, Trading Units 0.104, Price 6.04
Period: 18, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2565.81240511264,  Total Utility 3.01961,  Trading Units 0.437
Period: 18, Transaction Approved: 4, 10
Transaction: Period 18, Buyer: 4, Seller: 10, Total Utility 1.990023, Trading Units 0.262, Price 5.36
Period: 18, Transaction Approved: 4, 9
Transaction: Period 18, Buyer: 4, Seller: 9, Total Utility 1.698304, Trading Units 0.057, Price 6.02
Period: 18, Rejecting Transaction: 1, 9, Line Limit: 1500, Line: 6 -> 7, Current Power Flow (6->7): 2182.4508034115875  Total Utility 0.0,  Trading Units 1.139

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 19, Rejecting Transaction: 2, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2998.0922224425244,  Total Utility 7.155473,  Trading Units 0.752
Period: 19, Transaction Approved: 2, 3
Transaction: Period 19, Buyer: 2, Seller: 3, Total Utility 6.241704, Trading Units 0.186, Price 5.85
Period: 19, Transaction Approved: 2, 10
Transaction: Period 19, Buyer: 2, Seller: 10, Total Utility 5.836084, Trading Units 0.298, Price 6.44
Period: 19, Transaction Approved: 2, 6
Transaction: Period 19, Buyer: 2, Seller: 6, Total Utility 5.340951, Trading Units 0.183, Price 5.83
Period: 19, Transaction Approved: 2, 5
Transaction: Period 19, Buyer: 2, Seller: 5, Total Utility 4.638564, Trading Units 0.085, Price 5.65
Period: 19, Transaction Approved: 4, 5
Transaction: Period 19, Buyer: 4, Seller: 5, Total Utility 2.357927, Trading Units 0.157, Price 6.91
Period: 19, Transaction Approved: 7, 9
Transaction: Period 19, Buyer: 7, Seller: 9, Total Utility 1.689999, Trading Units 0.377, Price 5.33
Transaction: Period 19,Buyer: 1, Seller: 8, Total Utility 0, Trading Units 0.079, Price 5.33
Period: 19, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2882.895504984221  Total Utility 0,  Trading Units 0.459

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 20, Transaction Approved: 8, 9
Transaction: Period 20, Buyer: 8, Seller: 9, Total Utility 5.84268, Trading Units 0.026, Price 7.26
Period: 20, Transaction Approved: 3, 9
Transaction: Period 20, Buyer: 3, Seller: 9, Total Utility 4.112262, Trading Units 0.381, Price 7.82
Period: 20, Transaction Approved: 2, 5
Transaction: Period 20, Buyer: 2, Seller: 5, Total Utility 3.54192, Trading Units 0.437, Price 8.21
Period: 20, Transaction Approved: 2, 9
Transaction: Period 20, Buyer: 2, Seller: 9, Total Utility 3.245418, Trading Units 0.148, Price 8.18
Period: 20, Rejecting Transaction: 6, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2626.9862062187167,  Total Utility 2.344965,  Trading Units 0.104
Period: 20, Transaction Approved: 6, 10
Transaction: Period 20, Buyer: 6, Seller: 10, Total Utility 1.473564, Trading Units 0.086, Price 8.65
Period: 20, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3288.5818452030744,  Total Utility 1.159148,  Trading Units 0.271
Period: 20, Rejecting Transaction: 4, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3260.8645462294044,  Total Utility 0.985959,  Trading Units 0.264

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 21, Rejecting Transaction: 6, 8, Line Limit: 1500, Line: 6 -> 7, Current Power Flow (6->7): 1569.5552625488058,  Total Utility 8.089928,  Trading Units 0.472
Period: 21, Transaction Approved: 6, 9
Transaction: Period 21, Buyer: 6, Seller: 9, Total Utility 7.767536, Trading Units 0.472, Price 7.4
Period: 21, Transaction Approved: 10, 8
Transaction: Period 21, Buyer: 10, Seller: 8, Total Utility 6.550836, Trading Units 0.032, Price 8.86
Period: 21, Transaction Approved: 3, 8
Transaction: Period 21, Buyer: 3, Seller: 8, Total Utility 5.433566, Trading Units 0.252, Price 7.61
Period: 21, Transaction Approved: 2, 8
Transaction: Period 21, Buyer: 2, Seller: 8, Total Utility 5.419568, Trading Units 0.512, Price 8.85
Period: 21, Transaction Approved: 2, 9
Transaction: Period 21, Buyer: 2, Seller: 9, Total Utility 4.388395, Trading Units 0.149, Price 8.46
Period: 21, Rejecting Transaction: 4, 5, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2764.749613122043,  Total Utility 2.757256,  Trading Units 0.369
Period: 21, Rejecting Transaction: 7, 9, Line Limit: 2000, Line: 5 -> 6, Current Power Flow (5->6): 2740.836940076567,  Total Utility 2.05438,  Trading Units 0.352
Period: 21, Rejecting Transaction: 4, 9, Line Limit: 2000, Line: 5 -> 6, Current Power Flow (5->6): 2780.8643850768403,  Total Utility 1.992023,  Trading Units 0.369
Period: 21, Rejecting Transaction: 7, 5, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2719.6084838662196,  Total Utility 1.511721,  Trading Units 0.352

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 22, Transaction Approved: 10, 5
Transaction: Period 22, Buyer: 10, Seller: 5, Total Utility 6.914908, Trading Units 0.297, Price 6.19
Period: 22, Transaction Approved: 10, 8
Transaction: Period 22, Buyer: 10, Seller: 8, Total Utility 6.15013, Trading Units 0.147, Price 5.87
Period: 22, Transaction Approved: 2, 6
Transaction: Period 22, Buyer: 2, Seller: 6, Total Utility 5.54895, Trading Units 0.136, Price 5.85
Period: 22, Transaction Approved: 2, 9
Transaction: Period 22, Buyer: 2, Seller: 9, Total Utility 4.478292, Trading Units 0.164, Price 4.84
Period: 22, Transaction Approved: 3, 8
Transaction: Period 22, Buyer: 3, Seller: 8, Total Utility 2.357902, Trading Units 0.399, Price 6.5
Period: 22, Transaction Approved: 3, 9
Transaction: Period 22, Buyer: 3, Seller: 9, Total Utility 1.75051, Trading Units 0.038, Price 5.97
Period: 22, Transaction Approved: 4, 9
Transaction: Period 22, Buyer: 4, Seller: 9, Total Utility 1.679764, Trading Units 0.339, Price 4.19
Period: 22, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3391.6619641207494,  Total Utility 1.028445,  Trading Units 0.312

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 23, Transaction Approved: 2, 5
Transaction: Period 23, Buyer: 2, Seller: 5, Total Utility 7.488408, Trading Units 0.412, Price 7.61
Period: 23, Transaction Approved: 10, 5
Transaction: Period 23, Buyer: 10, Seller: 5, Total Utility 6.604772, Trading Units 0.125, Price 8.5
Period: 23, Transaction Approved: 6, 5
Transaction: Period 23, Buyer: 6, Seller: 5, Total Utility 5.06655, Trading Units 0.063, Price 8.59
Period: 23, Transaction Approved: 6, 8
Transaction: Period 23, Buyer: 6, Seller: 8, Total Utility 4.630111, Trading Units 0.262, Price 8.39
Period: 23, Rejecting Transaction: 3, 8, Line Limit: 1500, Line: 6 -> 7, Current Power Flow (6->7): 1690.1166060120338,  Total Utility 2.883144,  Trading Units 0.227
Period: 23, Rejecting Transaction: 4, 8, Line Limit: 1500, Line: 6 -> 7, Current Power Flow (6->7): 1690.1166060120338,  Total Utility 2.113785,  Trading Units 0.227
Period: 23, Transaction Approved: 3, 9
Transaction: Period 23, Buyer: 3, Seller: 9, Total Utility 1.820094, Trading Units 0.392, Price 7.1
Period: 23, Transaction Approved: 7, 8
Transaction: Period 23, Buyer: 7, Seller: 8, Total Utility 1.752275, Trading Units 0.227, Price 5.73
Period: 23, Rejecting Transaction: 4, 9, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2700.087554547357,  Total Utility 1.266415,  Trading Units 0.344

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 24, Transaction Approved: 2, 9
Transaction: Period 24, Buyer: 2, Seller: 9, Total Utility 10.949481, Trading Units 0.43, Price 7.27
Period: 24, Rejecting Transaction: 6, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2716.6569631408147,  Total Utility 10.356325,  Trading Units 0.251
Period: 24, Transaction Approved: 10, 9
Transaction: Period 24, Buyer: 10, Seller: 9, Total Utility 10.242813, Trading Units 0.079, Price 7.53
Period: 24, Rejecting Transaction: 3, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3427.286889927557,  Total Utility 8.327875,  Trading Units 0.351
Period: 24, Transaction Approved: 6, 8
Transaction: Period 24, Buyer: 6, Seller: 8, Total Utility 6.9258, Trading Units 0.251, Price 6.65
Period: 24, Transaction Approved: 3, 5
Transaction: Period 24, Buyer: 3, Seller: 5, Total Utility 6.82984, Trading Units 0.338, Price 7.21
Period: 24, Transaction Approved: 3, 8
Transaction: Period 24, Buyer: 3, Seller: 8, Total Utility 6.40863, Trading Units 0.013, Price 7.09
Period: 24, Transaction Approved: 4, 8
Transaction: Period 24, Buyer: 4, Seller: 8, Total Utility 2.672294, Trading Units 0.097, Price 4.69
Period: 24, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3525.733672616994,  Total Utility 2.594782,  Trading Units 0.377

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 25, Transaction Approved: 2, 8
Transaction: Period 25, Buyer: 2, Seller: 8, Total Utility 9.129235, Trading Units 0.121, Price 7.36
Period: 25, Transaction Approved: 2, 6
Transaction: Period 25, Buyer: 2, Seller: 6, Total Utility 8.64864, Trading Units 0.013, Price 6.75
Period: 25, Transaction Approved: 2, 5
Transaction: Period 25, Buyer: 2, Seller: 5, Total Utility 5.78672, Trading Units 0.182, Price 5.64
Period: 25, Transaction Approved: 2, 9
Transaction: Period 25, Buyer: 2, Seller: 9, Total Utility 5.745323, Trading Units 0.274, Price 5.3
Period: 25, Transaction Approved: 3, 9
Transaction: Period 25, Buyer: 3, Seller: 9, Total Utility 2.717442, Trading Units 0.197, Price 5.65
Period: 25, Rejecting Transaction: 10, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2624.26230051439,  Total Utility 1.289682,  Trading Units 0.188
Period: 25, Rejecting Transaction: 4, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3162.6260767091067,  Total Utility 0.917111,  Trading Units 0.324
Period: 25, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3372.1331172475193,  Total Utility 0.822352,  Trading Units 0.377

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 26, Transaction Approved: 6, 9
Transaction: Period 26, Buyer: 6, Seller: 9, Total Utility 6.888339, Trading Units 0.311, Price 6.6
Period: 26, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3551.4340945376707,  Total Utility 5.199909,  Trading Units 0.58
Period: 26, Transaction Approved: 2, 9
Transaction: Period 26, Buyer: 2, Seller: 9, Total Utility 4.75608, Trading Units 0.092, Price 7.39
Period: 26, Transaction Approved: 4, 8
Transaction: Period 26, Buyer: 4, Seller: 8, Total Utility 4.684095, Trading Units 0.325, Price 6.08
Period: 26, Transaction Approved: 4, 10
Transaction: Period 26, Buyer: 4, Seller: 10, Total Utility 4.675604, Trading Units 0.211, Price 5.88
Period: 26, Transaction Approved: 7, 10
Transaction: Period 26, Buyer: 7, Seller: 10, Total Utility 4.039388, Trading Units 0.261, Price 5.8
Period: 26, Transaction Approved: 3, 9
Transaction: Period 26, Buyer: 3, Seller: 9, Total Utility 3.14048, Trading Units 0.122, Price 7.12
Period: 26, Transaction Approved: 7, 5
Transaction: Period 26, Buyer: 7, Seller: 5, Total Utility 2.806476, Trading Units 0.061, Price 5.08
Period: 26, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3760.5765019649302  Total Utility 0.0,  Trading Units 0.42

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 27, Transaction Approved: 2, 10
Transaction: Period 27, Buyer: 2, Seller: 10, Total Utility 2.687894, Trading Units 0.461, Price 8.12
Period: 27, Transaction Approved: 7, 10
Transaction: Period 27, Buyer: 7, Seller: 10, Total Utility 2.617472, Trading Units 0.092, Price 7.18
Period: 27, Transaction Approved: 3, 8
Transaction: Period 27, Buyer: 3, Seller: 8, Total Utility 1.596075, Trading Units 0.092, Price 6.69
Period: 27, Transaction Approved: 3, 6
Transaction: Period 27, Buyer: 3, Seller: 6, Total Utility 1.58696, Trading Units 0.007, Price 6.77
Transaction: Period 27,Buyer: 1, Seller: 5, Total Utility 0, Trading Units 0.121, Price 6.77
Transaction: Period 27,Buyer: 1, Seller: 6, Total Utility 0, Trading Units 0.436, Price 6.77
Period: 27, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2607.529855118664  Total Utility 0,  Trading Units 0.606

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 28, Transaction Approved: 3, 6
Transaction: Period 28, Buyer: 3, Seller: 6, Total Utility 7.216092, Trading Units 0.145, Price 6.83
Period: 28, Transaction Approved: 3, 8
Transaction: Period 28, Buyer: 3, Seller: 8, Total Utility 4.928, Trading Units 0.158, Price 5.92
Period: 28, Transaction Approved: 3, 10
Transaction: Period 28, Buyer: 3, Seller: 10, Total Utility 4.572645, Trading Units 0.067, Price 5.69
Period: 28, Transaction Approved: 2, 5
Transaction: Period 28, Buyer: 2, Seller: 5, Total Utility 3.208632, Trading Units 0.339, Price 7.15
Period: 28, Transaction Approved: 4, 10
Transaction: Period 28, Buyer: 4, Seller: 10, Total Utility 2.912567, Trading Units 0.42, Price 4.96
Period: 28, Rejecting Transaction: 2, 10, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2648.956825315883,  Total Utility 2.732664,  Trading Units 0.125
Period: 28, Rejecting Transaction: 2, 9, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2530.279450492726,  Total Utility 1.945215,  Trading Units 0.148
Period: 28, Rejecting Transaction: 7, 10, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2648.956825315883,  Total Utility 1.025622,  Trading Units 0.125
Period: 28, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2796.8317190129687,  Total Utility 0.926224,  Trading Units 0.364

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 29, Transaction Approved: 3, 9
Transaction: Period 29, Buyer: 3, Seller: 9, Total Utility 4.338208, Trading Units 0.126, Price 7.85
Period: 29, Transaction Approved: 2, 9
Transaction: Period 29, Buyer: 2, Seller: 9, Total Utility 3.7632, Trading Units 0.134, Price 8.26
Period: 29, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3007.3001369048234,  Total Utility 3.712356,  Trading Units 0.494
Period: 29, Transaction Approved: 4, 10
Transaction: Period 29, Buyer: 4, Seller: 10, Total Utility 3.524196, Trading Units 0.56, Price 6.87
Period: 29, Transaction Approved: 6, 9
Transaction: Period 29, Buyer: 6, Seller: 9, Total Utility 3.16686, Trading Units 0.019, Price 7.72
Period: 29, Transaction Approved: 7, 10
Transaction: Period 29, Buyer: 7, Seller: 10, Total Utility 2.97687, Trading Units 0.184, Price 7.02
Period: 29, Transaction Approved: 8, 9
Transaction: Period 29, Buyer: 8, Seller: 9, Total Utility 1.795235, Trading Units 0.111, Price 5.9
Period: 29, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3004.502780393488  Total Utility 0,  Trading Units 0.364

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 30, Transaction Approved: 6, 9
Transaction: Period 30, Buyer: 6, Seller: 9, Total Utility 4.994828, Trading Units 0.046, Price 5.95
Period: 30, Transaction Approved: 4, 10
Transaction: Period 30, Buyer: 4, Seller: 10, Total Utility 4.667707, Trading Units 0.311, Price 6.57
Period: 30, Transaction Approved: 4, 5
Transaction: Period 30, Buyer: 4, Seller: 5, Total Utility 3.880363, Trading Units 0.003, Price 5.05
Period: 30, Transaction Approved: 4, 8
Transaction: Period 30, Buyer: 4, Seller: 8, Total Utility 3.807606, Trading Units 0.202, Price 6.09
Period: 30, Transaction Approved: 7, 9
Transaction: Period 30, Buyer: 7, Seller: 9, Total Utility 3.387567, Trading Units 0.401, Price 5.68
Period: 30, Transaction Approved: 3, 2
Transaction: Period 30, Buyer: 3, Seller: 2, Total Utility 3.107731, Trading Units 0.108, Price 6.29
Period: 30, Transaction Approved: 7, 8
Transaction: Period 30, Buyer: 7, Seller: 8, Total Utility 2.704368, Trading Units 0.045, Price 5.35
Transaction: Period 30,Buyer: 1, Seller: 2, Total Utility 0, Trading Units 0.02, Price 5.35
Transaction: Period 30,Buyer: 1, Seller: 8, Total Utility 0, Trading Units 0.077, Price 5.35

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 31, Transaction Approved: 4, 9
Transaction: Period 31, Buyer: 4, Seller: 9, Total Utility 5.09168, Trading Units 0.596, Price 6.11
Period: 31, Rejecting Transaction: 2, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3029.7857419396305,  Total Utility 4.912336,  Trading Units 0.164
Period: 31, Rejecting Transaction: 3, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3196.4567693537406,  Total Utility 3.029532,  Trading Units 0.206
Period: 31, Transaction Approved: 2, 5
Transaction: Period 31, Buyer: 2, Seller: 5, Total Utility 2.991691, Trading Units 0.164, Price 5.88
Period: 31, Rejecting Transaction: 6, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 2535.4621145405545,  Total Utility 2.785077,  Trading Units 0.04
Period: 31, Rejecting Transaction: 7, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3193.833453326219,  Total Utility 1.720992,  Trading Units 0.206
Period: 31, Transaction Approved: 3, 8
Transaction: Period 31, Buyer: 3, Seller: 8, Total Utility 1.643092, Trading Units 0.066, Price 6.88
Period: 31, Transaction Approved: 3, 5
Transaction: Period 31, Buyer: 3, Seller: 5, Total Utility 1.612169, Trading Units 0.16, Price 6.86
Period: 31, Transaction Approved: 3, 10
Transaction: Period 31, Buyer: 3, Seller: 10, Total Utility 1.234282, Trading Units 0.086, Price 6.48
Period: 31, Rejecting Transaction: 7, 10, Line Limit: 2500, Line: 3 -> 4, Current Power Flow (3->4): 2639.391237992548,  Total Utility 0.7232,  Trading Units 0.351
Period: 31, Transaction Approved: 6, 10
Transaction: Period 31, Buyer: 6, Seller: 10, Total Utility 0.693506, Trading Units 0.04, Price 6.13
Period: 31, Rejecting Transaction: 1, 9, Line Limit: 2500, Line: 6 -> 8, Current Power Flow (6->8): 3192.286224186934  Total Utility 0.0,  Trading Units 0.206

C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)
C:\Users\sdash\AppData\Local\Temp\ipykernel_11904\70086540.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_utilities_df = pd.concat([total_utilities_df, new_row], ignore_index=True)

Period: 32, Transaction Approved: 4, 5
Transaction: Period 32, Buyer: 4, Seller: 5, Total Utility 2.160477, Trading Units 0.09, Price 5.57
Period: 32, Transaction Approved: 4, 2
Transaction: Period 32, Buyer: 4, Seller: 2, Total Utility 1.58032, Trading Units 0.061, Price 3.92
Period: 32, Transaction Approved: 4, 10
Transaction: Period 32, Buyer: 4, Seller: 10, Total Utility 1.503194, Trading Units 0.02, Price 4.11
Period: 32, Transaction Approved: 4, 8
Transaction: Period 32, Buyer: 4, Seller: 8, Total Utility 1.325606, Trading Units 0.007, Price 3.9
Period: 32, Transaction Approved: 4, 3
Transaction: Period 32, Buyer: 4, Seller: 3, Total Utility 1.308411, Trading Units 0.059, Price 4.51
Period: 32, Transaction Approved: 7, 9
Transaction: Period 32, Buyer: 7, Seller: 9, Total Utility 0.702768, Trading Units 0.371, Price 4.92
Elapsed time: 27.832995653152466 seconds

In [20]:
result_transactions.to_csv('result_transactions.csv', index=False)
result_transactions

,Period,Seller,Buyer,SDR Price,Trading Price,Trading Energy,Seller Profit,Buyer Profit,Seller Utility,Buyer Utility,Total_Utility
0,1,8,4,7.62,7.86,0.084,0.358,0.180,3.356,1.527,5.124612
1,1,5,4,7.62,6.26,0.056,0.149,0.209,1.379,2.882,3.974278
2,1,2,4,7.62,6.52,0.324,0.946,1.128,1.514,2.594,3.927316
3,1,10,4,7.62,6.47,0.013,0.037,0.046,1.506,2.592,3.903552
4,1,9,4,7.62,6.96,0.385,1.294,1.170,1.881,1.990,3.743190
...,...,...,...,...,...,...,...,...,...,...,...
252,32,3,4,5.56,4.51,0.059,0.054,0.147,0.633,2.067,1.308411
253,32,9,7,5.56,4.92,0.371,0.490,0.772,0.528,1.331,0.702768
254,32,1,4,7.00,7.00,0.102,0.000,0.000,0.000,0.000,0.000000
255,32,1,6,7.00,7.00,0.034,0.000,0.000,0.000,0.000,0.000000
256,32,1,7,7.00,7.00,0.006,0.000,0.000,0.000,0.000,0.000000

In [21]:
result_transactions['Trading Energy'].sum()

57.003